.st1 {
  fill: #110d28;
}

.st2 {
  fill: #1a1030;
}

.st3 {
  fill: #221233;
}

.st4 {
  fill: #5866b7;
}

.st5 {
  fill: #21217f;
}

.st6 {
  fill: #2e2e89;
}

.st7 {
  fill: #5450ca;
}

.st9 {
  fill: #070716;
}

.st12 {
  fill: #161651;
}

.st13 {
  display: none;
}

.st14 {
  fill: #2c2cb7;
}

.st19 {
  display: inline;
}

.st20 {
  fill: #2e2dae;
}

.st21 {
  fill: #652ea9;
}

.background {
  z-index: 1;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
}
