#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.popup-test-area {
    background: #0f0f12;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

.popup-test-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 418px;
    height: 614px;
    overflow: hidden;
    max-width: 418px;
    max-height: 614px;
    border: 1px solid #243139;
    border-radius: 1.5em;
}

.popup-test-container .popup-test-wallet-area {
    width: 100%;
    display: flex;
    flex-grow: 1;
    height: 557px;
    max-height: 557px;
}

.popup-test-container .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    width: 100%;
    background: #0a0a17;
}